<nav class="adventure_navbar">
    <h1 class ="glow-red">
        LAUNDRY MASTER |
        <a href="{{ path('adventure_start') }}">Starta ett nytt spel</a> |
        <a href="{{ path('adventure_highscore') }}">Highscores</a> |
        <a href="{{ path('adventure_about') }}">Om</a> |
        <a href="{{ path('adventure_quick') }}">"Snabblösning" till lärare</a> |
        <a href="{{ path('adventure_api') }}">API</a>
    </h1>
</nav>