{% extends 'base.html.twig' %}

{% block title %}Lägg till bok{% endblock %}

{% block body %}
{#
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
#}

<div class="wrapper">

    {% include 'library/navbar.html.twig' %}


    <form action="{{ path('book_update') }}" method="post">
        <label>Uppdatera informationen om titel, ISBN eller författare:</label>
        <br>
        <input type="text" id="title" name="title" value="{{ book.getTitle|e }}" />
        <br>
        <input type="text" id="isbn" name="isbn" value="{{ book.getIsbn|e }}" />
        <br>
        <input type="text" id="author" name="author" value="{{ book.getAuthor|e }}" />
        <br>
        <input type="text" id="image" name="image" value="{{ book.getImage|e }}" />
        <br>
        <input type="hidden" name="id" value="{{ book.id }}">
        <button type="submit">Updatera informationen</button>
    </form>

</div>
{% endblock %}
